name: .NET Nuget

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core 2.2
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.207
    - name: Install additional dotnet 3.0
      run: sudo apt-get install dotnet-sdk-3.0
    - name: Create NuGet.Config.template
      run: echo '<?xml version="1.0" encoding="utf-8"?><configuration><packageSources><add key="GitHub" value="https://nuget.pkg.github.com/interlockledger/index.json" /></packageSources><packageSourceCredentials><GitHub><add key="Username" value="interlockledger" /><add key="ClearTextPassword" value="GH_TOKEN" /></GitHub></packageSourceCredentials></configuration>' > NuGet.Config.template
    - name: Setup Nuget.Config
      run: sed -e "s/GH_TOKEN/${{ secrets.RegistryToken }}/" NuGet.Config.template > NuGet.Config
    - name: Test with dotnet
      run: dotnet test --configuration Release -v:m
    - name: Pack nuget
      run: dotnet pack -o `pwd`/.nugets --configuration Release --no-build -v:m
    - name: Push nuget
      run: dotnet nuget push `pwd`/.nugets/*.nupkg -s GitHub
